<footer>
	<ul id="index">
		<li>
			<a href="/About%20Me">About Me</a>
		</li>
		<li>
			<a href="/Note">Note</a>
		</li>
		<li>
			<a href="/Portfolio">Portfolio</a>
		</li>
	</ul>

  <ul id="social">
    <li class="github">
		<a href="https://github.com/leekanghyo">
			<i class="fab fa-github"></i>
		</a>
	</li>
    <li class="facebook">
		<a href="https://www.facebook.com/kanghyo.lee">
			<i class="fab fa-facebook"></i>
		</a>
	</li>
  </ul>
  <p id="copyright">©2019 Lee Kanghyo</p>
</footer>