<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | Lee Kanghyo's Blog</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    {% if page.title %}
	  <meta name="twitter:title" content="{{ page.title }}" />
    {% else %}
	  <meta name="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% if page.description %}
	  <meta name="twitter:description" content="{{ page.description }}" />
    {% else %}
	  <meta name="twitter:description" content="{{ page.description }}" />
    {% endif %}

    {% if page.image %}
	  <meta name="twitter:image" content="{{ site.url }}/images/{{ page.image }}" />
    {% else %}
	  <meta name="twitter:image" content="{{ site.url }}/images/logo.png" />
    {% endif %}
  </head>
  {% include header.html %}
  <body>
    <article>
      {{ content }}
    </article>

    
  </body>
  {% include footer.html %}
</html>
